<!-- Directives allow you to manipulate the DOM by adding or removing elements, modifying their behavior, and applying dynamic styles.

There are two main types we’ll cover:

Structural Directives: Used to add or remove elements from the DOM.
Attribute Directives: Used to modify the appearance or behavior of an element. -->

<!-- <button (click)="showoncontent()">show content</button>
<button (click)="hidecontent()">Hide content</button>

<div *ngIf="iscontent;else notfound">
   <h3>Items name :</h3>
   <ul style="list-style:upper-alpha">
    <li *ngFor="let item of cartitems">
        {{item}}
    </li>
   </ul>
</div>

<ng-template #notfound>
    <p>Content not found try again...</p>
</ng-template> -->



<!-- <div class="button-group">
    <button
      *ngFor="let page of pages"
      (click)="setActivePage(page)"
      [ngClass]="{ 'active': activePage === page }">
      {{ page }}
    </button>
  </div> -->

  <p>See this mirzapur video:-> Mirzapur The Film </p>
  <button appHighlight=" https://www.youtube.com/watch?v=yYsHSYjb690" style="cursor: pointer;">Copy url</button>
  